<head>

    <title>RecipeHub</title>


    <link rel="stylesheet" href="/css/home.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="<link rel=" stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
        integrity="sha512-9BwLAVqqt6oFdXohPLuNHxhx36BVj5uGSGmizkmGkgl3uMSgNalKc/smum+GJU/TTP0jy0+ruwC3xNAk3F759A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />">


</head>

<body>
    <header>
        <nav>
            <nav class="navbar navbar-dark navbar-expand-lg bg-light navbar-fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand">
                        <ul>
                            <li><a href="home">Home</a></li>
                            <li><a href="recipe">Recipes</a></li>
                            <li><a href="findMeal">Recipe by Ingredient</a></li>
                        </ul>
                        {{!-- <form class="search-form" action="/search" method="GET">
                            <input type="text" name="q" placeholder="Search for recipes...">
                            <button type="submit">Search</button>
                        </form> --}}
                        <div class="login-buttons">
                            {{#if isAuthenticated}}
                            {{!-- <a href="/logout" class="btn btn-primary">Logout</a> --}}
                            {{else}}
                            <a href="/logout" class="btn btn-primary">Logout</a>
                            <a href="/login" class="btn btn-primary">Login</a>
                            <a href="/signup" class="btn btn-secondary">Sign Up</a>
                            {{/if}}
                        </div>
                        {{!-- <div class="login-buttons">
                            {{#if isAuthenticated}}
                            <a href="/logout">Logout</a>
                            {{else}}
                            <a href="/login">Login</a>
                            <a href="/signup">Sign Up</a>
                            {{/if}}
                        </div> --}}
            </nav>
    </header>
    <main>

        {{{body}}}

        {{!-- {{{body}}}
        <section class="container my-5">
            <h2 class="text-left mb-4">Featured Recipe</h2>
            <article class="row">
                <div class="col-md-6">
                    <img src="/public/img/daniela-crucez-1115tTZofMs-unsplash.jpg" alt="Recipe image" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <h3>Recipe Name</h3>
                    <p>Description of the recipe.</p>
                    <ul>
                        <li>Ingredient 1</li>
                        <li>Ingredient 2</li>
                        <li>Ingredient 3</li>
                        <li>Ingredient 4</li>
                    </ul>
                    <ol>
                        <li>Step 1</li>
                        <li>Step 2</li>
                        <li>Step 3</li>
                        <li>Step 4</li>
                    </ol>
                    <p>Preparation time: 30 minutes</p>
                    <p>Cooking time: 45 minutes</p>
            </article>
        </section>
        <section>
            <h2>Recipes</h2>
            <form method="post" action="/recipe">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                <label for="ingredients">Ingredients:</label>
                <textarea id="ingredients" name="ingredients" required></textarea>
                <label for="instructions">Instructions:</label>
                <textarea id="instructions" name="instructions" required></textarea>
                <button type="submit">Save Recipe</button>
            </form>
            <ul>
                <li>
                    <h3>Recipe Name</h3>
                    <img src="" alt="Recipe image">
                    <p>Description of the recipe.</p>
                    <a href="#">Read more</a>
                </li>
                <li>
                    <h3>Recipe Name</h3>
                    <img src="path/to/image" alt="Recipe image">
                    <p>Description of the recipe.</p>
                    <a href="#">Read more</a>
                </li>
                <li>
                    <h3>Recipe Name</h3>
                    <img src="path/to/image" alt="Recipe image">
                    <p>Description of the recipe.</p>
                    <a href="#">Read more</a>
                </li>
            </ul>
        </section>

        <footer>
            <p>&copy; 2023 Recipe Sharing App</p>
        </footer>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> --}}
        {{!--
        <script>
            $(document).ready(function () {
                $('form').submit(function (event) {
                    event.preventDefault();
                    var form = $(this);
                    var data = form.serialize();
                    $.ajax({
                        url: form.attr('action'),
                        type: 'POST',
                        data: data,
                        success: function (response) {
                            console.log
                            console.log(response);
                            $('ul').append(response);
                        }
                    })
                })
            });
        </script> --}}
    </main>


    <footer>
        <p>&copy; 2023 Recipe Sharing App</p>
    </footer>
    {{!--

    <script src="/js/script.js"></script>
    {{!--
    <script src="/js/logout.js"></script> --}}


    </footer>

</body>


</html> --}}

</html>