<section>
    <link rel="stylesheet" href="/css/addRecipe.css">
    <div class="featured-recipe">
        <div class="recipe-name">
            <div class="description">
            </div>
            <div class="content" id="content">

                <div class="instruction"></div>
            </div>
            <div class="recipe-img">
                <img src="img" alt="#">
            </div>
            {{!--
            <script src="./addRecipe.handlebars"></script> --}}
        </div>

</section>