{{!--
<!DOCTYPE html>
<html lang="en"> --}}

<head>
    {{!--
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> --}}
    {{!--
    <link rel="stylesheet" href="/css/style.css" /> --}}
    <link rel="stylesheet" href="/css/home.css">
    <title>RecipeHub</title>
</head>
<title>Fun Facts About Food</title>
<style>
    body {
        font-size: 24px;
        color: #f60a0a;
        background-color: #e09494;
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 48px;
        color: rgb(241, 12, 12);
        text-align: center;
        margin-top: 50px;
    }

    p {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 40px;
        text-decoration-style: solid;
        font-weight: bolder;
        color: black;
        line-height: 1.5;
        margin: 30px 0;
        text-align: center;
    }
</style>
</head>

<body>
    <h1>Fun Facts About Food</h1>
    <p>1.The world's largest pizza was made in Rome in 2012 and measured 13,580.28 square feet.</p>
    <p>2.The world's largest chocolate bar was made in Armenia in 2010 and weighed 9,722 pounds.</p>
    <p>3.The world's oldest known recipe is for beer and was written on a Sumerian tablet over 5,000 years ago.</p>
    <p>4.The world's most expensive spice is saffron, which can cost up to $5,000 per pound.</p>
    <p>5.The world's most popular fruit is the tomato, which is actually a fruit and not a vegetable.</p>
    <p>6.The world's most widely consumed meat is pork, followed by poultry and beef.</p>
</body>

</html>

{{!-- <header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Recipes</a></li>
            <li><a href="#">Add Recipe</a></li>
        </ul>
        <form class="search-form" action="/search" method="GET">
            <input type="text" name="q" placeholder="Search for recipes...">
            <button type="submit">Search</button>
        </form>
        <div class="login-buttons">
            {{#if isAuthenticated}}
            <a href="/logout">Logout</a>
            {{else}}
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
            {{/if}}
        </div>
    </nav>
</header> --}}
{{!--
<script src="/home.handlebars"></script> --}}
</body>

{{!--

</html> --}}