<section>
  <link rel="stylesheet" href="/css/recipe.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <div class="featured-recipe">
    <div class="recipe-name">
      <div class="description">
        <div class="recipe-container">

          <div class="content" id="content">
          </div>

          <div class="instruction"></div>
        </div>
        <div class="recipe-img">
        </div>

        <form id="search-form">
          <input type="text" id="search-input" class="search-input" placeholder="Search...">
          <input type="submit" value="Search">
        </form>
</section>
</div>
</section>

<section class="recipe-list"></section>

<section>

  {{!--
  <link rel="stylesheet" href="<link rel="
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    integrity="sha512-9BwLAVqqt6oFdXohPLuNHxhx36BVj5uGSGmizkmGkgl3uMSgNalKc/smum+GJU/TTP0jy0+ruwC3xNAk3F759A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />"
  <title>Document</title> --}}

  {{!-- <h1>Sharing</h1>
  <p>text goes here</p> --}}

  <nav>
    <div class="share-btn-container">
      <ul>
        <li> <a href="https://www.facebook.com/login">
            <i class="fab fa-facebook">Facebook</i>
          </a></li>
        <a
          href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D">
          <i class="fab fa-twitter">Twitter</i>
        </a>
        <a href="https://www.pinterest.com/login/">
          <i class="fab fa-pinterest">Pinterest</i>
        </a>
        <a href="https://www.linkedin.com/login">
          <i class="fab fa-linkedin">Linkedin</i>
        </a>
        <li> <a href="https://web.whatsapp.com/#">
            <i class="fab fa-whatsApp">WhatsApp</i>
          </a></li>
      </ul>
    </div>
    <div class="content">

    </div>
  </nav>

</section>

<script src="/js/recipe.js"></script>