{{!-- <form action="/signup" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    {{body}}
    <div>
        <button type="submit">Sign Up</button>
    </div>
</form> --}}

<form action="#" method="POST" id="signup-form" element="signup-form">
    <link rel="stylesheet" href="/css/signup.css">

    <h2>Sign up</h2>

    <label for="signup-username">Username:</label>
    <input type="text" name="signup-username" id="signup-username" required>
    <label for="signup-email">Email:</label>
    <input type="text" name="signup-email" id="signup-email" type="email">

    <label for="signup-password">Password:</label>
    <input type="password" name="signup-password" id="signup-password" required>

    <input type="submit" value="Sign up">

    <p class="error" id="signup-error"></p>

    <script src="/js/signup.js"></script>

</form>