body {
    background-image: url('../img/davey-gravy-4WPcz_5RVMk-unsplash.jpg');
    font-family: Arial, sans-serif;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }