/* General styles */
body {
  background-image: url('../img/giphy.gif');
  font-family: Arial, sans-serif;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
  
  /* Recipe header styles */
  .recipe-header {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
  }
  
  .recipe-header h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .recipe-header img {
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  /* Recipe info styles */
  .recipe-info {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  .recipe-info p {
    font-size: 1.2em;
    margin: 0;
  }
  
  /* Recipe ingredients and directions styles */
  .recipe-section {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  
  .recipe-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .recipe-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .recipe-section li {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  /* Recipe footer styles */
  .recipe-footer {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
  }
  
  .recipe-footer a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  .recipe-footer a:hover {
    text-decoration: underline;
  }

#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-input {
  margin-right: 10px;
  padding: 5px;
  width: 30%;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}






.content {
  padding: 8px 90px;
  font-family: "roboto", "Helvetica", "Arial";
  ;
}

.content p{
  line-height: 1.9;
}

.content img {
  max-height: 500px;
}

.share-btn-container{
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.share-btn-container a i {
  font-size: 32px;
}

.share-btn-container a {
  margin: 12px 0;
  transition: 500ms;
}

.share-btn-container a:hover {
  transform: scale(1.2);
}

.share-btn-container .fa-facebook{
  color: #3b5998;

}

.share-btn-container.fa-twitter{
  color: #1da1f2;

}

.share-btn-container.fa-linkedin{
  color: #0077b5;
}

.share-btn-container.fa-pinterest {
  color: #bd081c;
}

.share-btn-container .fa-whatsApp{
  color: #25d366;
}

@media(min-width: 550px) {
  .content{
      padding: 8 32px;
  }

  .share-btn-container{
      transform: unset;
      top: unset;
      left:0;
      bottom:0;
      width: 100%;
      flex-direction: row;
      box-shadow: 4px 0 8px rgba(0,0,0,0.3);
      padding: 16px 0;
      justify-content: center;
  }

  .share-btn-container a {
      margin: 0 32px;
  }
}

  