/* General styles */
body {
  background-image: url('../img/bruna-branco-t8hTmte4O_g-unsplash.jpg');
  font-family: Arial, sans-serif;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
  
  /* Signup form styles */
  #signup-form {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    background-color: rgb(245, 193, 129);
  }
  
  .signup-form h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .signup-form label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .signup-form input[type="text"],
  .signup-form input[type="email"],
  .signup-form input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
  }
  
  .signup-form select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
  }
  
  .signup-form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .signup-form input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  /* Error message styles */
  .error {
    color: #FF0000;
    font-size: 12px;
    margin-top: 5px;
  }
  